a:hover {
    color: blue;
}

.middle-pic {
  margin-top: 160px !important;
}
footer {
  background: #0b265a;
}

.fa-telegram,
.fa-facebook,
.fa-instagram {
  width: 32px;
  height: 32px;
}
.f-list {
    list-style-type: none;
}